#
# This file acts as a template file for custom env
#

#
# This file will be sourced by starting script.
#

PROFILE=""

# Set main class
# Comment it if "-jar" style starting is preferred
MAIN_CLASS=""

#
# Customize jvm options, using JAVA_OPT or JAVA_OPTS, both work.
#
# By JAVA_OPT:
#
# JAVA_OPT="$JAVA_OPT -server -XX:+UseG1GC"
#
# By JAVA_OPTS:
#
# JAVA_OPTS=(
# "-server"
# "-XX:+UseG1GC"
# "-XX:MaxGCPauseMillis=100"
# "-Xms500m"
# "-Xmx1024m"
# "-XX:ParallelGCThreads=2"
# "-XX:ConcGCThreads=2"
# "-Djava.net.preferIPv4Stack=true"
# )
#
# OR:
#
# JAVA_OPTS[${#JAVA_OPTS[@]}]="-Djava.net.preferIPv4Stack=true"
# JAVA_OPTS[${#JAVA_OPTS[@]}]="-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"

#
# Customize main class arguments, using MAIN_ARG or MAIN_ARGS, both work.
#
# By MAIN_ARG:
#
# MAIN_ARG="$MAIN_ARG --config path_to_config.json"
#
# By MAIN_ARGS:
#
# MAIN_ARGS=(
# "--config"
# "path_to_config.json"
# )
#
# OR:
#
# MAIN_ARGS[${#MAIN_ARGS[@]}]="--config"
# MAIN_ARGS[${#MAIN_ARGS[@]}]="path_to_config.json"

#
# vim:set nu rnu list et sr ts=4 sw=4 ft=sh:
